

/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
*/
/*Font awesome styling*/

.fa-2x {
  font-size: 2em !important;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

strong{
	color: #A9BD50;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.socialWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.social li{
	display: inline-block;
	/*float:left;*/
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
	background: #A9BD50;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
    min-width: 12%;
    max-width: 12%;
    min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
    background: #FFF;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #98aa48;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #A9BD50;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #A9BD50;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #A9BD50;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    font-family: "Font Awesome 5 Free";
	content: "\f0d7";
	font-weight: 900;
	display: block;
	position: absolute;
	right: 20px;
	font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
    font-weight: 900;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
	
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #A9BD50;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#userHeader {
	width: 100vw;
	height: 40px;
	background-color: #A9BD50;
	position: fixed;
}

#userHeader i{
	color:#FFFFFF;
	float:right;

}

input, button, .btn:focus, #sidebarCollapse:focus, #sidebarCollapse.active:focus{
	border:none !important;
  	outline: none !important;
}

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }

    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */


    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong, .sidebar-header strong {
    	display:block;
        line-height: 10px;
        padding-top: -20px;
        padding-bottom: 0px;
    }

    #sidebar.active .sidebar-header{
    	height:40px !important;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        transform: translateX(50%);
    }

    #sidebar .socialWrapper{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#sidebar .social li{
		display: inline-block;
	}
}



