@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  overflow-y:scroll;
}
p{
  font-family: 'Poppins', sans-serif;
  color: #5D5855;
}

h1,h2,h3,h4,h5,h6{
  color: #5D5855;
}

/*a{
  color: #A9BD50;
}*/

header {
  z-index: 0;
  flex: 0 64px;
  display: flex;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}
header .branding, header .page-details, header .settings {
  display: flex;
  align-items: center;
}
header .branding {
  flex: 0 0 256px;
  order: 0;
  justify-content: flex-start;
}
header .branding img {
  max-width:100%;
  max-height:100%;
}
header .page-details {
  flex: 1 1 100%;
  order: 1;
  padding: 0 24px;
  overflow: hidden;
}
header .page-details .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 24px;
}
header .settings {
  flex: 0 0 256px;
  order: 2;
  justify-content: flex-end;
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 8px;
}
.menu-toggle:hover {
  background: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:8px;
  width: 48px;
  height: 48px;
  color:#A9BD50;
}
.profile:hover{
   color:#d4ed65;
   cursor: pointer;
}
.app {
  flex: 1;
  display: flex;
}
nav {
  background: #faf9f8;
  flex: 0 0 256px;
  overflow: auto;
  order: 0;
  border-right: 1px solid #d9d9d9;
}
nav .branding, nav .title-block {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
nav .branding img, nav .title-block img {
  height: 100% !important;
  width: 100% !important;
}
nav ul {
  list-style: none;
  margin: 8px 0;
  padding: 0;
}
nav ul li a {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  text-decoration: none;
  color: #5D5855;
}
nav ul li a span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
nav ul li a:hover {
  /*background: #bab2ad;*/  
  cursor: pointer;
  color:#A9BD50;
  text-decoration: none;
}

nav ul li:active{
  color:#A9BD50;
  text-decoration: none;
}

nav ul li.active a:active{
  color:#A9BD50;
  text-decoration: none;
}

nav ul li a i {
  margin-right: 20px;
  opacity: 0.5;
}
article {
  background: #f2f3f4;
  flex: 1 1 100px;
  order: 1;
  overflow: auto;
  padding: 24px;
}
aside {
  background: #faf9f8;
  flex: 0 0 256px;
  order: 2;
  overflow: auto;
  border-left: 1px solid #d9d9d9;
}
.card {
  max-width: 1080px;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}
.card:not(:last-child) {
  margin-bottom: 24px;
}

#expDisplays a{
  float: right;
}

.modal-display a{
  float:left !important;
}

.datepicker td, .datepicker th {
    width: 2em;
    height: 2em;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    font-family: "Font Awesome 5 Free";
  content: "\f0d7";
  font-weight: 900;
  display: block;
  position: absolute;
  right: 20px;
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
    font-weight: 900;
}

#facebook {
  opacity: 1 !important;
}

.socialWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li{
  display: inline-block;
  float:left;
}

.no-padding{
  padding: 0 !important;
}

.page-header{
  margin-bottom: 20px;
}

.datepicker table tr td.today.day{
  background-color: #A9BD50 !important;
  background-image: none !important;
}

#instafeed img {
  padding:20px;
}

.card-text {
  color:#007bff;
}

.tab-pane{
  margin-top:20px;
}

hr{
  background-color:#A9BD50;
}

/*MEDIA QUERIES*/
@media (min-width: 800px) {
  .branding {
    padding: 0 24px;
  }
  .menu-toggle {
    display: none;
  }
  nav .title-block {
    display: none;
  }
}

@media (max-width: 800px) {
  nav, aside, .branding img {
    display: none;
  }
  header .settings .profile {
    display: none;
  }
  header .branding, header .settings {
    flex: 0 0 64px;
  }
  header .page-details {
    padding: 0 24px;
    justify-content: center;
  }

  span.userName{
    display: none;
  }

  article {
    padding: 16px;
  }
  .card:not(:last-child) {
    margin-bottom: 16px;
  }
  nav {
    position: absolute;
    top: 0;
    left: -256px;
    width: 256px;
    height: 100%;
    display: block;
    transition: all 0.2s ease;
    overflow: auto;
  }
  nav.open {
    left: 0;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
    z-index: 9999;
  }

  nav.open a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        transform: translateX(50%);
  }

  aside {
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    display: block;
    transition: all 0.2s ease;
    overflow: auto;
    color:#A9BD50;
  }
  aside.open {
    right: 0;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
    color:#A9BD50;
  }

  .menu-toggle{
    color:#A9BD50;
  }

}
